.memory {

  text-align: end;
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  & a {
    display: inline-block;
    width: 100%;

  }
}

.forgot {
  color: #2694c3;
  float: right;
}