body {
  background: #fff;
  width: 100svw;
  height: 100svh;
}

img {
  pointer-events: none;
}

.Shaken {
  animation: horizontal-shaking 0.25s infinite;
}

@keyframes horizontal-shaking {
  0% {
    transform: translateX(0);
  }
  25% {
    transform: translateX(5px);
  }
  50% {
    transform: translateX(-5px);
  }
  75% {
    transform: translateX(5px);
  }
  100% {
    transform: translateX(0);
  }
}

.container {
  width: 92%;
  margin: 0 auto;
}

[data-theme='dark'] body {
  background: #23272e;
}
