body {
  background: #fff;
  width: 100svw;
  height: 100svh;
}

img {
  pointer-events: none;
}

.Shaken {
  animation: horizontal-shaking 0.25s infinite;
}

@keyframes horizontal-shaking {
  0% {
    transform: translateX(0);
  }
  25% {
    transform: translateX(5px);
  }
  50% {
    transform: translateX(-5px);
  }
  75% {
    transform: translateX(5px);
  }
  100% {
    transform: translateX(0);
  }
}

body {
  position: relative;
}
.navbar {
  position: fixed;
  bottom: 1rem;
  z-index: 2;
  width: 100%;
  /* height: 50px; */
}

.color-white {
  color: #fff;
}
.container {
  width: 92%;
  margin: 0 auto;
}

[data-theme='dark'] body {
  background: #23272e;
}

#nprogress .bar {
  @apply bg-primary !important;
}

#nprogress .peg {
  @apply shadow-md shadow-primary !important;
}

#nprogress .spinner-icon {
  @apply border-t-primary border-l-primary !important;
}

[data-theme='dark']:root {
  --rsbs-backdrop-bg: rgba(0, 0, 0, 0.6);
  --rsbs-bg: #404754;
  --rsbs-handle-bg: hsla(0, 0%, 0%, 0.14);
  --rsbs-max-w: auto;
  --rsbs-ml: env(safe-area-inset-left);
  --rsbs-mr: env(safe-area-inset-right);
  --rsbs-overlay-rounded: 16px;
}

[data-theme='light']:root {
  --rsbs-backdrop-bg: rgba(0, 0, 0, 0.6);
  --rsbs-bg: #000000;
  --rsbs-handle-bg: hsla(0, 0%, 0%, 0.14);
  --rsbs-max-w: auto;
  --rsbs-ml: env(safe-area-inset-left);
  --rsbs-mr: env(safe-area-inset-right);
  --rsbs-overlay-rounded: 16px;
}

