.overflow {
  overflow-x: hidden;
}

.allBudgets {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.swiper {

  width: 100%;
  height: 400px;
  margin: 0 auto;
  // overflow-x: ;
}

.drawer {
  padding: 0;
  background: #0b1524;
}

[data-theme='light'] .drawer {
  background-color: #f1faee;
}

.budget {
  padding: 1rem;
  height: 140px;
  width: 100%;
  border-radius: 8px;
  display: flex;

  // align-items: center;
  justify-content: space-between;
}

.topInf {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.left {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.spend {
  text-align: end;
  text-wrap: wrap;
  max-width: 100px;
}

.name {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.icon {
  color: #fff;
  background: #0000006f;
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
}

.swiperContainer {
  width: 100%;
  cursor: pointer;
}

.budgetsList {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.3s ease-in-out;
}

.budgetsList.open {
  max-height: 500px;
  /* Задайте максимальную высоту для раскрытия списка */
}

.chart {
  // padding: 1rem;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 1rem;
  height: 140px;
  background-color: #457b9d;
  border-radius: 8px;
}

.statistic {
  // background: #33363d;
  border-radius: 10px;
  margin-bottom: 1rem ;
  padding: 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.names {
  flex-wrap: wrap;
  width: 95%;
  max-height: 130px;
  max-width: 160px;
  display: flex;
  flex-direction: column;
}

.bg {
  position: absolute;
  z-index: -1;
  width: 100%;
  top: 0;
  left: 0;
  background-color: #1b263b;
  height: 185px;
  border-radius: 0 0 20px 20px;
}


[data-theme='light'] .bg {
  background: #457b9d;

}


///
.float {
  position: absolute;
  right: 1rem;
  bottom: 6rem;
}
.floatButton{
  padding: 1rem;
  border-radius: 40%;
}