.budget {

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 1rem;
  border-radius: 8px;
  margin-top: 1rem;
  height: 150px;
}

.topInf {

  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}


.name {

  display: flex;
  align-items: center;
  gap: 1rem;
}

.icon {
  width: 35px;
  height: 35px;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.barInf {
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.bar {
  width: 130px;
  height: 130px;
}

.drawer {
  width: 94%;
  margin: 1rem auto 0  auto;
}
///
///
