.variantsButtonWrapper {
  height: 85svh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  width: 100%;
}
.buttons{
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.animated {
  width: 100%;
  display: flex;
  justify-content: center;
}



///
.drawerHeader{
  padding-top: 1rem;
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}
.drawerNumber{

  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;

}
.input {
  background: transparent;
  font-size: 56px;
  width: auto;
  caret-color: transparent;
  text-align: right;
  padding: 0;
  margin: 0;
  border: none;
  outline: none;
}
